* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    line-height: 1.6em;
}

nav {
    background-color: #69edde;
    overflow: hidden;
    text-align: center;
    padding: 3%;
}

nav a {
    color: #A656A9;
}

nav a:hover {
    color: black;
}

nav a:active {
    color: white;
}

ul {
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
}

li {
    font-size: 4em;
    font-weight: 600;
    display: inline;
    padding: 15px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

section {
    overflow: hidden;
}

div {
    display: block;
}

.top {
    text-align: center;
    color: #8DF2CC;
}

.topSams {
    background-color: #f28db3;
    padding: 7%;
    font-size: 2em;
    line-height: 2em;
    text-shadow: 0 0 4px black
}

h1 {
    line-height: 2em;
}


.mid {
    padding: 7%;
    background-color: #ffddff;
}
/*
.bottom {
    background-color: #ffffff;
}

footer {
    background-color: beige;
}

*/
